/*  asdasd
.example-class {
    background-color: blue;
}
  */
.example-class {
	background-color: red;
	color: red;
	content: "asdasd";
}
.example-class-2,
.example-class-3 {
	background-color: red;
	color: red;
	content: "asdasd";
}